<div class="goldenbeta-bar">
  <div class="goldenbeta-bar-left">
    <div class="goldenbeta-bar-txt">用APP打开，查看组合持仓</div>
    <div class="goldenbeta-bar-txt-sub"><span>金贝塔</span><span class="goldenbeta-bar-split"></span><span>思想创造财富</span></div>
  </div>
  <div class="goldenbeta-bar-right">
    <a href="javascript:;" class="goldenbeta-bar-btn goldenbeta-bar-btn-open" id="openApp">打开</a>
    <a href="http://www.igoldenbeta.com/portal/basket/download/qrc/website_mobile" class="goldenbeta-bar-btn">安装</a>
  </div>
</div>