@import 'base/normalize';
@import 'base/layout';
@import 'module/goldenbeta-bar';

/* 以下为示例 css，各活动请删掉多余的 css */
/* 设计稿给到的是 @2x 大小的尺寸，这里无需人工计算尺寸，直接使用设计稿的尺寸即可，npx 会帮你计算好值并将 px 单位转换成 rem */
/* 对图片的引用使用 resolve(文件名)，npx 会根据配置更好的统一处理资源路径 */
/* 对 pc 端而言，一般以 px 作为尺寸单位，使用 .norem 包裹即可，html 加上 .norem class 即可 */

#loading-animation {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .05);
  &::after {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 10px;
    background: resolve('loading.gif') no-repeat center rgba(255, 255, 255, .8);
  }
}
.slogan {
  display: block;

  width: 96px;
  height: 37px;
  margin: 20px auto;

  background: resolve(slogan.png) no-repeat center;
  background-size: 100%;
}
.cnt {
  font-size: 32px;

  text-align: center;
}
.btn {
  line-height: 3;

  display: block;

  width: 400px;
  margin: 30px auto;

  text-align: center;

  border: 2px solid #ddd;
  border-radius: 10px;
}
.norem {
  p {
    margin: 20px auto; /* 20px 不会转换成 rem 单位 */
  }
}
